.orders {
  background-color: #f5f4f2;
  display: flex;
  position: fixed;
  flex-direction: column;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: auto;
  align-items: center;

  &__wrapper {
    width: 1144px;
  }

  &-header {
    display: flex;
    margin-top: 20px;
  }

  &__title {
    margin: 20px 0;
  }

  &__content {
    display: flex;
    gap: 100px;
  }
}

.header-action {
  display: flex;
  cursor: pointer;
  &__img {
    width: 16px;
    height: 16px;
    margin-right: 6px;
  }

  &__span {
    color: #9E9B98;
  }
}

.product {
  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 22px;
  }

  &__date {
    margin-bottom: 3px;
    color: #9E9B98;
    font-size: 13px;
    line-height: 17px;
  }

  &__price {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.01em;
    white-space: nowrap;
    font-weight: 500;
    color: #21201F;
    margin-bottom: 3px;
  }

  &__status {
    color: rgb(250, 62, 44);
    text-transform: lowercase;
    font-size: 13px;
    line-height: 17px;
    font-weight: normal;
  }

  &__content {
    display: flex;
    margin: 10px 0;

    &-img {
      width: 69px;
      height: 69px;
      border-radius: 18px;
      margin-right: 7px;
    }

    &-title {
      width: 250px;
    }
  }
}

.order {
  &-list {
    width: 460px;
    padding: 24px;
    margin-bottom: 10px;
    border-radius: 32px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.07);
    background-color: #FFFFFF;
    cursor: pointer;
  }

  &__empty {
    display: flex;
    width: 460px;
    padding: 24px;
    margin-bottom: 10px;
    border-radius: 32px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.07);
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;

    &-title {
      font-size: 22px;
      color: #9E9B98;
    }
  }

  &-last {
    padding: 32px;
    width: 600px;
    background-color: #FFFFFF;
    border-radius: 32px;
    align-self: start;

    &__title {
      margin-bottom: 10px;
      font-size: 22px;
    }

    &__number {
      color: #9E9B98;
      font-size: 13px;
      line-height: 17px;
    }

    &__date {
      color: #9E9B98;
      font-weight: normal;
      font-size: 13px;
      line-height: 17px;
    }

    &__header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
  }

  &-address {
    margin-bottom: 20px;
    color: #9E9B98;
    font-size: 16px;
    line-height: 21px;

    &__title {
      font-size: 16px;
      line-height: 21px;
    }

    &__container {
      display: flex;
      flex-direction: column;
      margin: 20px 0;
      color: #9E9B98;
      font-size: 16px;
      line-height: 21px;
    }

    &__comment {
      margin-bottom: 20px;

      &-title {
        color: black;
      }
    }
  }

  &-composition {
    display: flex;
    margin-top: 16px;
  }

  &__title {
    color: #9E9B98;
    font-size: 16px;
    line-height: 21px;
  }

  &-line {
    height: 1px;
    margin: 32px 0;
    opacity: 0.5;
    border-top: 1px solid #D2D0CC;
  }

  &-product {
    &__img {
      width: 69px;
      height: 69px;
      border-radius: 18px;
      margin-right: 7px;
    }

    &__title {
      display: flex;
      flex-direction: column;
      flex-grow: 2;
    }

    &__price {
      white-space: nowrap;
    }
  }

  &-footer {
    &__title {
      margin-bottom: 20px;
      color: #9E9B98;
      font-size: 16px;
      line-height: 21px;
    }

    &__price {
      &-product {
        display: flex;
        justify-content: space-between;
      }

      &-delivery {
        display: flex;
        justify-content: space-between;
        margin-top: 12px;
      }

      &-service {
        display: flex;
        justify-content: space-between;
        margin-top: 12px;
      }
    }
  }
}




