.auth {
  display: flex;
  position: fixed;
  flex-direction: column;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-image: url('https://yastatic.net/s3/passport-auth-customs/customs/_/4dK2cggE.png');

  &__action-back {
    background-image: url(https://yastatic.net/s3/passport-static/core/v1.115.4/i/authv2/back-arrow.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    height: 36px;
    opacity: .8;
    -webkit-transition: opacity .1s ease-out;
    transition: opacity .1s ease-out;
    width: 36px;
    position: absolute;
    margin-bottom: auto;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 auto 22px;
    border-radius: 100px;
    border: solid 2px black;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 360px;
    max-height: 557px;
    border-radius: 32px;
    background-color: #fff;
    padding: 32px;
    flex: 1 0 auto;
    margin: 0 auto;

    &-select {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      border: solid 1px #d8dce6;
      border-radius: 20px;
      padding: 2px;

      &-sign-up {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 51px;
        color: #000;
        cursor: pointer;
      }

      &-sign-in {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 51px;
        color: #000;
        cursor: pointer;
      }
    }

    &-input {
      &-email {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-top: 8px;
        padding: 14px;
        font-size: 20px;
        height: 51px;
        width: 100%;
        border-radius: 20px;
        border: solid 1px #d8dce6;
      }

      &-password {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-top: 8px;
        padding: 14px;
        font-size: 20px;
        height: 51px;
        width: 100%;
        border-radius: 20px;
        border: solid 1px #d8dce6;
      }
    }

    &-action {
      &-sign-in {
        display: flex;
        margin: 10px 0 0;
        background-color: #222426;
        color: #fff;
        height: 56px;
        border-radius: 16px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        text-decoration: none;
      }

      &-sign-up {
        display: flex;
        margin: 10px 0 0;
        background-color: #222426;
        color: #fff;
        height: 56px;
        border-radius: 16px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}

.active {
  border-radius: 20px;
  background-color: #d8dce6;
}

.incorrectData {
  border: solid 1px red;
}