.category {
    max-width: 675px;
    padding-top: 36px;

    &__title {
        margin: 26px 0 24px;
        font-size: 20px;
    }

    &__products-list {
        display: grid;
        grid-template-columns: auto auto auto;
        border-radius: 24px;
    }
}
